
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model People_MVC.Models.Person
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table">
    <tbody>       
        <tr>
            <td>@Model.PersonId</td>
            <td>@Model.Name</td>
            <td>@Model.TeleNumber</td>

            <td>@Html.DisplayNameFor(model => model.City.Name)</td>
            @*@Html.DisplayNameFor(model => model.City.Country)
        <td>@Model.City.Country.Name</td>*@

            @*@Html.DisplayNameFor(model => model.PersonLanguages)
        <td>@Model.PersonLanguages.ToList()</td>*@
            <td><a asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a></td>
        </tr>       
    </tbody>
</table>

