@model People_MVC.Models.Person
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <table class="table table-striped">
  
        <tbody>
            <tr>
                <th scope="col">@Html.DisplayFor(m => Model.PersonId)</th>
                <th scope="col">@Html.DisplayFor(m => Model.Name)</th>
                <th scope="col">@Html.DisplayFor(m => Model.TeleNumber)</th>
                <th scope="col">@Html.DisplayFor(m => Model.City.Name)</th>
                <th scope="col">@Html.DisplayFor(m => Model.City.Country.Name)</th>
                <th scope="col">@Html.DisplayFor(m => Model.PersonLanguages)</th>
                @*@foreach (var language in @Model.PersonLanguages)
                { 
                    <p> @language.Language.Name</p>
                    }*@

                <th><a asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a></th>
            </tr>
        </tbody>

    </table>

