
@model People_MVC.Models.Person;

<table class="table">
    <tbody>
        <tr>
            <td>@Model.PersonId</td>
            <td>@Model.Name</td>
            <td>@Model.TeleNumber</td>

            <td>@Model.City.Country.Name</td>
            <td>@Model.PersonLanguages.ToList()</td>
            <td><a asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a></td>
        </tr>
    </tbody>
</table>
