@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model People_MVC.Models.ViewModel.PeopleViewModel;

@{ ViewBag.Title = "ListPage"; }


<table class="table table-striped">
    <thead>
        @{ People_MVC.Models.Person p = null;}
        <tr>
            <th>@Html.LabelFor(m => @p.ID)</th>
            <th>@Html.LabelFor(m => @p.Name)</th>
            <th>@Html.LabelFor(m => @p.City)</th>
            <th>@Html.LabelFor(m => @p.TeleNumber)</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model.PeopleList)
        {
<partial name="_ShowAll" model="item" />
}
    </tbody>
</table>