@model People_MVC.Models.Person

<h3>Person Details</h3>
@Html.DisplayNameFor(m => Model.PersonId):@Html.DisplayFor(m => Model.PersonId)
<br />
@Html.DisplayNameFor(m => Model.Name):@Html.DisplayFor(m => Model.Name)
<br />
@Html.DisplayNameFor(m => Model.City):@Html.DisplayFor(m => Model.City)
<br />
@Html.DisplayNameFor(m => Model.TeleNumber):@Html.DisplayFor(m => Model.TeleNumber)
<br />
<p>Updated at @DateTime.Now</p>