@model People_MVC.Models.Person

<table class="table">
    <tbody>       
            <tr>
                <td>@Model.PersonId</td>
                <td>@Model.City</td>
                <td>@Model.Name</td>
                <td>@Model.TeleNumber</td>
                <td><a class="Delete1" asp-controller="Peoples" asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a></td>
            </tr>       
    </tbody>
</table>


