
@model People_MVC.Models.ViewModel.PeopleViewModel;

@{ ViewBag.Title = "ListPage"; }


<table class="table table-striped">
    <thead>
        @{ People_MVC.Models.Person p = null;}
        <tr>
            <th>@Html.LabelFor(m => @p.PersonId)</th>
            <th>@Html.LabelFor(m => @p.Name)</th>
            <th>@Html.LabelFor(m => @p.City)</th>
            <th>@Html.LabelFor(m => @p.TeleNumber)</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model.people)
        {
            <partial name="_ShowAll" model="item" />            }
    </tbody>
</table>