@model Person


<div class="row border border-2 py-2">
    <div class="col-md-1">@Model.PersonId</div>
    <div class="col-md-2">@Model.Name</div>
    <div class="col-md-2">@Model.TeleNumber</div>
    <div class="col-md-1">@Model.City.Name</div>
    <div class="col-md-1">@Model.City.Country.Name</div>
    <div class="col-md-3 display-language">
        
        @foreach (var item in Model.PersonLanguages)
        {
            if (item != null)
            {
                <span class="person-id-@Model.PersonId language">@item.Language.Name</span>
                if (Model.PersonLanguages.Count > 1)
                {
                    <span class="put-komma me-1">,</span>;
                }
            }
        }
</div>

<div class="col-md-2">
    <a href="#edit-div" id="edit-link" onclick="showDiv({ id: '@Model.PersonId', name: '@Model.Name', city: '@Model.City.Name', phoneNumber: '@Model.TeleNumber'})">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a>
</div>
</div>